@{
    ViewData["Title"] = "Home Page";
}
@inject  Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a  href="/Home/Add">添加用户</a>
<form action="/" method="post" id="form1">
    <select name="culture" id="culture" onchange="selectsubmit()">
        <option value="zh" selected>中文</option>
        <option value="en" >English</option>
    </select>
</form>

<button>@ViewData["ok"]</button>
<button>@ViewData["no"]</button>
<button>@ViewData["cancel"]</button>

<span>@Localizer["edit"].Value</span>
<span>@Localizer["add"].Value</span>
@section Scripts{
    <script src="~/js/jquery.cookie.js"></script>
    <script>
        $(function () {
            console.log($.cookie(".AspNetCore.Culture"))
            if ($.cookie(".AspNetCore.Culture") != '') {
                var culture = $.cookie(".AspNetCore.Culture").split('|')[0].split('=')[1];
                $("#culture").val(culture)
            }

        })
        function selectsubmit() {
            console.log(1111)
            $("#form1").submit();
        }
    </script>
}